.subtask-name {
    padding: 5px 10px 5px 26px;
    height: 16px;
    
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 6px;
}

.subtask-name:hover {
    background: rgba(255, 255, 255, 0.2);
}

.subtask-text {
    font-weight: 700;
    font-size: 13.28px;
}